<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- android 13 granular permissions for media access -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecoverDeletedPhotos">

        <!-- the main single-activity entry point for the app -->
        <activity
            android:name="top.thinapps.recoverdeletedphotos.MainActivity"
            android:exported="true">
            <intent-filter>
                <!-- sets this activity as the main entry point -->
                <action android:name="android.intent.action.MAIN" />
                <!-- allows the app to appear in the launcher -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
